<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowbase | Landing Page</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Font Google -->
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>
<body>
    <div class="overlay"></div>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="nav-toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <a href="#" class="logo">
                    <img src="assets/images/Logo.svg" alt="">
                </a>
                <ul class="menus">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Blog</a></li>
                
                </ul>
                <div class="actions">
                    <button class="btn btn-second">Get Started</button>
                </div>
                
            </div>
        </div>
    </header>
    <div class="hero-banner">
        <div class="container">
            <div class="hero-content">
                <div class="hero-text" 
                        data-aos="fade-right"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                    <h1 class="title" 
                        data-aos="flip-up"
                        data-aos-delay="50"
                        data-aos-duration="500"
                        data-aos-easing="ease-in-out">Grow your
                    subscription
                    business</h1>
                    <div class="desc"
                        data-aos="flip-up"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">Outcome-centered products that reduce churn, optimize pricing, and grow your subscription business end-to-end.</div>
                    <div class="actions">
                        <button class="btn btn-main">Get Started</button>
                        <button class="btn-down">
                            <span>
                                <img src="assets/images/arrow-down.svg" alt="">
                            </span>
                        </button>
                    </div>
                </div>
                <div class="hero-image" data-aos="fade-left"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                    <img src="assets/images/Hero3D.png" alt="">
                </div>

            </div>
        </div>
    </div>
    <section class="section partners">
        <div class="container">
            <div class="list-companies">
                <div class="item">
                    <a href="#" data-aos="flip-up"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                        <img src="assets/images/partners/1.svg" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#"  data-aos="flip-up"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                        <img src="assets/images/partners/2.svg" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#"  data-aos="flip-up"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                        <img src="assets/images/partners/3.svg" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#"  data-aos="flip-up"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                        <img src="assets/images/partners/4.svg" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#"  data-aos="flip-up"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                        <img src="assets/images/partners/4.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section feature">
        <div class="container">
            <div class="feature-content">
                <div class="image"  data-aos="fade-right"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                    <img src="assets/images/feature1.png" alt="">
                </div>
                <div class="text-content"  data-aos="fade-left"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                    <h2 class="main-title">Subscription index</h2>
                    <div class="desc">A daily dataset to keep you up to date on subscription market trends and what's happening in your vertical.</div>
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section feature">
        <div class="container">
            <div class="feature-content">
                
                <div class="text-content"  data-aos="fade-right"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                    <h2 class="main-title">In-depth metrics</h2>
                    <div class="desc">Accurate, real-time reporting at your fingertips. Getting data has never been easier.</div>
                    <a href="#" class="link">Learn more</a>
                </div>
                <div class="image"  data-aos="fade-left"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out">
                    <img src="assets/images/feature2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section feature">
        <div class="container">
            <div class="list-feature">
                <div class="item" 
                    data-aos="flip-up"
                    data-aos-delay="50"
                    data-aos-duration="500"
                    data-aos-easing="ease-in-out">
                    <div class="icon"  >
                        <img src="assets/images/icon-card.png" alt="">
                    </div>
                    <h3 class="title">Benchmarks</h3>
                    <div class="desc">See how you stack up against comparable companies in similar stages.</div>
                </div>
                <div class="item"
                    data-aos="flip-up"
                    data-aos-delay="50"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out">
                    <div class="icon">
                        <img src="assets/images/pricing.png" alt="">
                    </div>
                    <h3 class="title">Pricing Audit</h3>
                    <div class="desc">Benchmark the health of your monetization and pricing strategy.</div>
                </div>
                <div class="item"
                    data-aos="flip-up"
                    data-aos-delay="50"
                    data-aos-duration="2000"
                    data-aos-easing="ease-in-out">
                    <div class="icon">
                        <img src="assets/images/retention.png" alt="">
                    </div>
                    <h3 class="title">Retention Audit</h3>
                    <div class="desc">Audit where revenue leakage exists and where you can increase retention.</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pricing">
        <div class="container">
            <div class="section-top" 
                data-aos="flip-up"
                data-aos-easing="ease-in-out">
                <h2 class="main-title">Get the right plan for future product.</h2>
                <ul class="tabs">
                    <li class="active"><a href="#">Yearly</a></li>
                    <li><a href="#">Monthly</a></li>
                </ul>
            </div>
            <div class="list-pricing">
                <div class="item" 
                    data-aos="zoom-in"
                    data-aos-delay="50"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out">
                    <div class="text-m">Starter</div>
                    <div class="name">Free</div>
                    <div class="pricing-feature">
                        <div class="li">1 Website</div>
                        <div class="li">5 GB Hosting</div>
                        <div class="li">Limited Support</div>
                    </div>
                    <div class="actions">
                        <button class="btn">Get Started</button>
                    </div>
                </div>
                <div class="item featured"
                    data-aos="zoom-in"
                    data-aos-delay="50"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out">
                    <div class="text-m">Premium</div>
                    <div class="name"><span class="money">$29</span><span class="text">/month</span></div>
                    <div class="pricing-feature">
                        <div class="li">10 Website</div>
                        <div class="li">15 GB Hosting</div>
                        <div class="li">Premium Support</div>
                    </div>
                    <div class="actions">
                        <button class="btn">Get Started</button>
                    </div>
                </div>
                <div class="item"
                    data-aos="zoom-in"
                    data-aos-delay="50"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out">
                    <div class="text-m">Enterprise</div>
                    <div class="name"><span class="money">$49</span><span class="text">/month</span></div>
                    <div class="pricing-feature">
                        <div class="li">Unlimited Website</div>
                        <div class="li">50 GB Hosting</div>
                        <div class="li">Premium Support</div>
                    </div>
                    <div class="actions">
                        <button class="btn">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        // Show menu
        $(".nav-toggle").click(function(){
            $(".menus").toggleClass("show");
            $(".overlay").toggleClass("show");
        });
        $(".overlay").click(function(){
            $(".menus").removeClass("show");
            $(".overlay").removeClass("show");
        });
        AOS.init();
    </script>
</body>
</html>